<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Head, Link, router, useForm } from '@inertiajs/vue3';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';

const form = useForm({
    nombre: null,
    precio: null,
    marca: null,
    descripcion: null,
});

const submit = () => {
    form.post(route('productos.store'));
};

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Nuevo Producto
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="container mx-auto px-4 bg-white overflow-hidden shadow-xl sm:rounded-lg grid py-5">
                    <form @submit.prevent="submit">
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <InputLabel for="nombre" value="Nombre" />
                                <TextInput
                                    id="nombre"
                                    v-model="form.nombre"
                                    type="text"
                                    class="mt-1 block w-full"
                                    required
                                    autofocus
                                />
                                <InputError class="mt-2" :message="form.errors.nombre" />
                            </div>
                            <div>
                                <InputLabel for="precio" value="Precio" />
                                <TextInput
                                    id="precio"
                                    v-model="form.precio"
                                    type="text"
                                    class="mt-1 block w-full"
                                    required
                                />
                                <InputError class="mt-2" :message="form.errors.precio" />
                            </div>
                            <div>
                                <InputLabel for="marca" value="Marca" />
                                <TextInput
                                    id="marca"
                                    v-model="form.marca"
                                    type="text"
                                    class="mt-1 block w-full"
                                    required
                                />
                                <InputError class="mt-2" :message="form.errors.marca" />
                            </div>
                        </div>
                        <div class="grid grid-cols-1 mt-4">
                            <div>
                                <InputLabel for="descripcion" value="Descripción" />
                                <textarea
                                    id="descripcion"
                                    v-model="form.descripcion"
                                    class="w-full p-2 border border-gray-300 rounded"
                                    rows="5"
                                    placeholder="Escribe una descripción..."
                                    required
                                ></textarea>
                                <InputError class="mt-2" :message="form.errors.descripcion" />
                            </div>
                        </div>

                        <div class="flex items-center justify-end mt-4">

                            <PrimaryButton class="ml-4" :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                                Registrar
                            </PrimaryButton>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
