<script setup>
import { ref, onMounted } from 'vue';
import AppLayout from '@/Layouts/AppLayout.vue';
import { Head, Link, router, useForm } from '@inertiajs/vue3';
import Swal from 'sweetalert2';
import DataTable from 'datatables.net-vue3';
import DataTablesCore from 'datatables.net';
import 'datatables.net-responsive';

DataTable.use(DataTablesCore);
const dataTableProductos = ref();
let dt;

onMounted(function () {
    dt = dataTableProductos.value.dt;
});

defineProps({

});

const columns = [
    { data: 'nombre', title: 'Nombre' },
    { data: 'precio', title: 'Precio' },
    { data: 'marca', title: 'Marca' },
    {
        data: null,
        title: 'Opciones',
        orderable: false,
        searchable: false,
        render: function (data, type, row, meta) {
            const idEncrypt = row.idEncrypt;
            const ver = `<a active="false" href="${route('productos.show', idEncrypt)}" class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-1 px-2 mr-2 rounded"> Ver </a>`;
            const editar = `<a active="false" href="${route('productos.edit', idEncrypt)}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 mr-2 rounded"> Editar </a>`;
            const eliminar = `<button data-id="${row.id}" class="btn-eliminar bg-red-500 hover:bg-red-700 text-white font-bold px-2 mr-2 rounded"> Eliminar </button>`;
            return ver + editar + eliminar;
        }
    }
];
const options = {
    responsive: true,
};

const form = useForm({
    id: ''
});

const eliminarProducto = (id) => {
    Swal.fire({
        title: "",
        text: "Estas seguro de eliminar!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "SI",
        cancelButtonText: "NO"
    }).then((result) => {
        if (result.isConfirmed) {

            form.delete(route('productos.destroy', id));
            Swal.fire({
                title: "¡Eliminado!",
                text: "La información ha sido eliminada.",
                icon: "success"
            });

            // Recargar los datos de la tabla después de la eliminación
            reloadTableData();
        }
    });
};

const handleClick = (event) => {
    const target = event.target;
    if (target.classList.contains('btn-eliminar')) {
        const id = target.getAttribute('data-id');
        eliminarProducto(id);
    }
};

const reloadTableData = () => {
    dt.ajax.reload(null, false);
};

</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Productos
            </h2>
        </template>


        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="container mx-auto px-4 bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <div class="flex justify-end my-5 ">
                        <Link :href="route('productos.create')" :active="route().current('productos')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Nuevo Producto
                        </Link>
                    </div>
                    <div @click="handleClick">
                        <DataTable
                            :columns="columns"
                            :options="options"
                            ajax="/productos/list"
                            class="table table-bordered table-striped display"
                            ref="dataTableProductos"
                        >
                        </DataTable>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
