<script setup>
import AppLayout from '@/Layouts/AppLayout.vue';
import { Head, Link, router } from '@inertiajs/vue3';
import TextInput from '@/Components/TextInput.vue';
import InputLabel from '@/Components/InputLabel.vue';

defineProps({
    producto: Object,
});
</script>

<template>
    <AppLayout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Producto
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg px-4 py-5">
                    <div v-if="producto">
                        <div class="grid grid-cols-3 gap-4">
                            <div>
                                <InputLabel for="nombre" value="Nombre" />
                                <TextInput
                                    id="nombre"
                                    :value="producto.nombre"
                                    type="text"
                                    class="mt-1 block w-full bg-gray-100"
                                    readonly
                                />
                            </div>
                            <div>
                                <InputLabel for="precio" value="Precio" />
                                <TextInput
                                    id="precio"
                                    :value="producto.precio"
                                    type="text"
                                    class="mt-1 block w-full bg-gray-100"
                                    readonly
                                />
                            </div>
                            <div>
                                <InputLabel for="marca" value="Marca" />
                                <TextInput
                                    id="marca"
                                    :value="producto.marca"
                                    type="text"
                                    class="mt-1 block w-full bg-gray-100"
                                    readonly
                                />
                            </div>
                        </div>
                        <div class="grid grid-cols-1 mt-4">
                            <div>
                                <InputLabel for="descripcion" value="Descripción" />
                                <textarea
                                    id="descripcion"
                                    :value="producto.descripcion"
                                    class="w-full p-2 border border-gray-300 rounded bg-gray-100"
                                    rows="5"
                                    readonly
                                ></textarea>
                            </div>
                        </div>

                        <!--<b>Nombre: </b> {{ producto.id}}
                        <br>
                        <b>excerpt: </b> {{ note.excerpt}}
                        <br>
                        <b>content: </b>
                        <br>
                        {{ note.content}}-->
                    </div>
                    <div v-else>
                        No hay nota disponible.
                    </div>
                    <div class="my-2">
                        <Link :href="route('productos')" :active="route().current('productos')" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Atras
                        </Link>
                    </div>
                </div>
            </div>
        </div>
    </AppLayout>
</template>
